* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1770px;
    scroll-behavior: smooth;
    font-family: 'aleobold', sans-serif;
    position: relative;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 33px 0;
    top: calc(100vh - 95px);
    position: absolute;
    background-color: #5474fd;
    width: 100%;
    z-index: 1;

    
}

.conteiner {
    max-width: 1105px;
    background-repeat: no-repeat;
    background-size: cover;
}

.img {
    max-width: 100%;
}